.product__left li.active {
    background-color: #3c36ff;
}

    .product__left li.active > a {
        color: #fff;
    }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.content {
    flex: 1 1 auto;
    min-height: 100vh;
    overflow: hidden;
}

.container {
    max-width: 1400px;
    margin: 0px auto;
}

.wrapper {
    min-height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

/* header */
.header__top {
    display: flex;
    font-display: row;
    justify-content: space-between;
}

.header__logo img {
    width: 300px;
    height: 100px;
}

.header__search {
    display: flex;
    align-items: center;
}

form.search {
    position: relative;
    width: 700px;
    margin: 0 auto;
}

    form.search input {
        width: 100%;
        height: 42px;
        padding-left: 10px;
        border: 1px solid #1136ff;
        border-radius: 5px;
        background: #f5f8ff;
        color: #9E9C9C;
    }

    form.search button {
        position: absolute;
        top: 0;
        right: 0px;
        width: 42px;
        height: 42px;
        border: none;
        background: #1136ff;
        border-radius: 0 5px 5px 0;
        cursor: pointer;
    }

        form.search button:before {
            content: "\f002";
            font-family: FontAwesome;
            font-size: 16px;
            color: #F9F0DA;
        }

.header__phone {
    display: flex;
    flex-direction: column;
    align-self: center;
}

    .header__phone a {
        color: black;
        font-size: 22px;
        letter-spacing: unset;
    }

        .header__phone a > i {
            color: #1136ff;
            margin-right: 7px;
        }

        .header__phone a:last-child {
            font-size: 16px;
            margin-top: 7px;
        }

        .header__phone a:hover {
            text-decoration: underline;
            color: #3c36ff;
        }

            .header__phone a:hover:last-child {
                color: grey;
            }

.personal__enter {
    align-self: center;
}

    .personal__enter a {
        font-size: 20px;
        margin-left: 10px;
        color: #bdbdbd;
        font-weight: 400;
        letter-spacing: 1px;
    }

        .personal__enter a:hover {
            color: #3c36ff;
            text-decoration: underline;
        }

        .personal__enter a > i {
            color: #bdbdbd;
            margin-right: 7px;
        }

.header__links {
    display: flex;
    justify-content: space-between;
    background-color: #3c36ff;
}

    .header__links a {
        text-align: center;
        font-size: 20px;
        width: 100%;
        padding: 10px 50px;
        color: #fff;
        border-right: 1px solid #2164ff;
    }

        .header__links a:hover {
            transition: all ease 0.3s;
            background-color: #129cff;
        }

/* footer */
.footer__links {
    background-color: #fafaf7;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-bottom: 1px solid #1136ff;
}

.footer__link {
    display: flex;
    flex-direction: column;
    font-size: 15px;
}

    .footer__link a {
        color: grey;
        margin: 7px;
    }

.contacts {
    display: flex;
    flex-direction: column;
}

    .contacts p:first-child {
        font-size: 15px;
        font-weight: 500;
        margin: 10px;
    }

    .contacts p:last-child {
        margin: 10px;
        color: grey;
    }

    .contacts a {
        margin: 5px;
        color: grey;
    }

.footer__row {
    padding: 10px;
    font-size: 15px;
    text-align: center;
    background-color: #fafaf7;
}

.contacts a:hover {
    text-decoration: underline;
    color: #3c36ff;
}

.contacts i {
    margin-right: 5px;
}

/* catalog__cards */
.category__cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 0 70px;
}

.category__card {
    margin: 20px 5px;
    border: 1px solid #e3e3e3;
    border-radius: 5px;
    padding-bottom: 20px
}

    .category__card img {
        padding: 20px;
        width: 300px;
        height: 300px;
    }

    .category__card p {
        text-align: center;
        font-size: 22px;
    }

    .category__card a {
        color: #3c36ff;
    }

    .category__card:hover {
        box-shadow: 0 0 10px rgba(0,0,0,0.5);
    }

    .category__card a > p:hover {
        color: #4a6bff;
    }

/* карточки товара */
.product__main {
    display: flex;
    flex-direction: row;
}

.product__left {
    flex: 0 0 20%;
    padding: 20px 0px;
}

    .product__left ul {
        border: 1px solid #bab8b8;
        background-color: #e3eeff;
    }

    .product__left li {
        font-size: 18px;
        border-bottom: 1px solid #bab8b8;
        padding: 10px;
    }

        .product__left li:last-child {
            border-bottom: none;
        }

        .product__left li > a {
            color: grey;
            padding: 5px;
        }

        .product__left li:hover {
            border: 1px solid #969696;
            border-left: 4px solid #3c36ff;
        }


.product__cards {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
}

.product__card {
    width: 250px;
    height: 400px;
    border: 1px solid black;
    margin-top: 20px;
    border-radius: 5px;
}

    .product__card a {
        display: flex;
        flex-direction: column;
    }

        .product__card a > img {
            margin: 10px 0;
            width: 200px;
            align-self: center;
        }

    .product__card p {
        text-align: center;
        color: #000;
    }

.description p:first-child {
    font-size: 20px;
    font-weight: bold;
}

.description p:nth-child(2) {
    font-size: 12px;
    margin-top: 30px;
    color: #c2c2c2;
}

.description p:nth-child(3) {
    font-size: 20px;
    margin-top: 10px;
}

.product__card:hover {
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.description p:first-child:hover, .description p:nth-child(3):hover {
    color: #ff3d3d;
}


/* about */

.about__company {
    padding: 10px 50px
}
    .about__company > h1{
        font-size: 25px;
        margin-bottom: 15px
    }
    .about__company > h2 {
        margin-bottom: 7px;
    }
    .about_li > li {
        list-style: decimal;
        padding-bottom: 5px;
        font-size: 18px
    }

    .about__company h3 {
        font-size: 22px;
        padding-bottom: 20px;
    }

    .about__company p {
        padding: 0 20px 10px 20px;
        font-size: 18px;
    }
/* slider */

.slider {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.infinity-wrap {
    /* width: 350px;
    height: 600px; */
    position: relative;
}

.infinity-size {
    width: 450px;
    height: 600px;
}

.size-about {
    width: 350px;
    height: 600px;
}

.infinity-slider {
    overflow: hidden;
    position: relative;
}

    .infinity-slider img {
        width: 100%;
        height: 100%;
        position: absolute;
        opacity: 1;
        transition: all ease 1s;
    }

    .infinity-slider .opacity0 {
        opacity: 0;
    }

.btn-infinity-left, .btn-infinity-right {
    width: 36px;
    height: 36px;
    background: url('/images/other/right.png') no-repeat;
    background-size: contain;
    align-self: center;
    cursor: pointer;
    margin: 0 50px;
    z-index: 100;
}

.btn-infinity-left {
    background: url('/images/other/left.png') no-repeat;
    background-size: contain;
}

/* services */
.services__title {
    font-size: 22px;
    text-align: center;
    padding: 20px;
}

.services__card {
    display: flex;
    flex-direction: row;
    padding: 20px 100px;
    border-top: 1px solid #e3e3e3;
    justify-content: space-between;
    border-bottom: 1px solid #e3e3e3;
}

.card__right img {
    width: 350px;
    height: 250px;
}

.card__title {
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    padding-bottom: 30px;
}

.services__info {
    font-size: 16px;
    padding-left: 30px;
}
/* item */
.items__main {
    display: flex;
    flex-direction: row;
    padding: 20px;
    justify-content: space-evenly;
}

.items__image {
    flex-basis: 50%;
}

.item__title {
    font-size: 32px;
}

.item__character {
    display: flex;
    flex-direction: column;
}

    .item__character span {
        font-size: 16px;
        padding: 10px;
        color: #aeb1b5;
    }

    .item__character p {
        font-size: 20px;
        padding-left: 20px;
    }

.item__puhchase {
    margin: 50px 0;
}

    .item__puhchase span {
        font-size: 20px;
        margin: 20px 0;
        color: #aeb1b5;
    }

    .item__puhchase p {
        font-size: 30px;
        padding: 20px 0;
    }

    .item__puhchase button {
        font-size: 20px;
        width: 200px;
        height: 50px;
        background-color: transparent;
        border: 1px solid green;
    }

        .item__puhchase button:hover {
            border: none;
            background-color: green;
            color: white;
            transition: all ease 0.3s;
        }

        .item__puhchase button:active {
            position: relative;
            top: 1px;
        }

.item__charasteristic {
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

    .item__charasteristic h5 {
        text-align: center;
        font-size: 22px;
        padding: 20px;
    }

.characteristic__row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 10px;
    background-color: #fdffcf;
    font-size: 20px;
    border-top: 1px solid #aeb1b5;
    border-right: 1px solid #aeb1b5;
    border-left: 1px solid #aeb1b5;
}

    .characteristic__row:last-child {
        border-bottom: 1px solid #aeb1b5;
    }

    .characteristic__row span, .characteristic__row p {
        margin: 4px 50px;
    }
/*contacts*/
.communication {
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
}

.commun_left {
    display: flex;
    flex-direction: column;
}

    .commun_left h3 {
        font-size: 23px;
        margin-bottom: 20px;
    }

    .commun_left span {
        margin-bottom: 20px;
        font-size: 18px;
        color: #b1b4b5;
    }

    .commun_left p {
        margin-bottom: 20px;
        font-size: 20px;
        margin-left: 15px;
    }

    .commun_left a {
        margin-bottom: 30px;
        text-decoration: none;
        color: #000000;
        font-size: 20px;
        margin-left: 15px;
    }

        .commun_left a > i {
            padding-right: 20px;
            color: #2181ff;
        }

    .commun_left p > i {
        padding-right: 20px;
        color: #2181ff;
    }

.storeInfo {
    height: 130px;
    width: 230px;
}
