<div class="wrapper">
    <div class="about">
        <div class="container">
            <div class="content">
                <div class="about__company">

                    <h3>Интернет магазин ЭнергоСтиль предоставляет различные возможности для проведения разного рода</h3>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti
                        pariatur soluta quae a cupiditate dolorem quam, minus accusantium
                        consequatur earum architecto esse provident molestiae sint ducimus.
                        Cumque eaque expedita illo. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias quibusdam, quae, a dolore cupiditate officia qui blanditiis fugiat vitae libero vel quasi in laboriosam aut ut velit, fuga ex nemo.
                    </p>


                    <div class="slider">
                        <div class="btn-infinity-left"></div>
                        <div class="infinity-wrap size-about">
                            <div class="infinity-slider size-about">
                                <img src="~/images/certificate/1.BMP" alt="">
                                <img src="~/images/certificate/2.BMP" alt="">
                                <img src="~/images/certificate/3.jpg" alt="">
                                <img src="~/images/certificate/4.jpg" alt="">
                                <img src="~/images/certificate/5.jpg" alt="">
                                <img src="~/images/certificate/6.jpg" alt="">
                                <img src="~/images/certificate/7.jpg" alt="">
                                <img src="~/images/certificate/8.jpg" alt="">
                                <img src="~/images/certificate/9.jpg" alt="">
                                <img src="~/images/certificate/10.jpg" alt="">
                            </div>
                        </div>
                        <div class="btn-infinity-right"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/js/slider.js"></script>